# Python
app/venv/
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.db
*.json
*.pkl

# Modeller og data
*.gguf
app/data/chroma/**

# Node + React
frontend/node_modules/
frontend/dist/
frontend/.vite/

# VS Code og IDE
.vscode/
.idea/

# OS og editorfiler
.DS_Store
*.swp
